<!DOCTYPE html>
<html>
  <head>
    <title>ApicuriousGithub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      Hello, <%= current_user.login %>!
      <%= link_to "Logout", logout_path, method: :delete %>
    <% else %>
      <%= link_to "Login using GitHub", github_login_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
